body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 120px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 85%;
}

.half-width p {
    line-height: 2em;
    color: gray;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-color: rgb(255, 122, 90);
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.resume-button {
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-color: rgb(255, 122, 90);
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

h2 {
    font-size: 40px;
}

.exprience-item {
    width: 40%;
    margin-left: 5%;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;

}

#full-stack-developer {
    border-left: solid 7px tomato;
}

#baby-web-developer {
    border-left: solid blue 7px;
}

.exprience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    margin-top: 40px;

}

footer p {
    text-align: center;
}